# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# documents
**/base-structure/*

# Sentry
sentry.properties

# Config files
app.config.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android
**/android/build/
**/android/app/build/
**/android/.gradle/
**/android/.kotlin/
**/android/app/.cxx/
**/android/local.properties

# iOS
**/ios/Pods/
**/ios/build/
**/ios/**/*.xcworkspace/xcuserdata/
**/ios/**/*.xcodeproj/xcuserdata/
**/ios/.xcode.env.local

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.app.config.js

code/app.config.js

# typescript
*.tsbuildinfo
